*,
*::before,
*::after {
    box-sizing: border-box;
    @include margin(0);
    @include padding(0);
}
html {
    scroll-behavior: smooth;
}
html,
body {
    height: 100vh;
    width: 100vw;
}
body{
    color: $main-txt-color;
    background: $background-color;
    @include margin(80px null null null); 
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    @include media-breakpoint-up(lg) {
        @include margin(100px null null null); 
        display: flex;
        flex-flow: column nowrap;
      }
}
section {
@include padding(null null 5rem null);
    ul {
        list-style: disc outside none;

        margin-left: 1rem;
        padding-left: 1.25rem;
    }




}

img{
    max-width: 100%;
    display: block;
    height: auto;
}
.block-spacing {
    @include margin(3rem null null null);
}
.center-block {
    text-align: center;
}
h2 {
    @include padding(.25rem null);
    @include margin(.5rem null 1rem);
    border-bottom: solid 0.03rem rgba(0, 0, 0, 0.3);
}

h3 {
    @include padding(.25rem null);
    @include margin(null null .5rem);
    border-bottom: solid 0.03rem rgba(0, 0, 0, 0.3);
}
.small-text {
    font-size: 0.8em;
}

.card-deck {
    background: $white;
    @include padding(50px);
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: $hr;
    height: 1px;
}
.card-grid{
    @include padding(4rem null null);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    .card-body{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
     
    }
}


/* login */

.login-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 5rem;
    padding: 20px 1rem 50px;
}

.login-wrapper h2 {
    display: block;
    text-align: center;
}

.login-wrapper form {
    background: rgba(167,167,167,.09);
    @include padding(3rem);
}
