<div class="row">
    <div class="col-xs-11 col-xs-offset1">
        {% set level = 1 %}
        {% for c in postComments(post.id) %}

            {{ _self.commentBlock(c, level) }}

        {% else %}
        <p>Be the first to comment!</p>
        {% endfor %}
    </div>
</div>

<div class="comment-read-more" style="display:none;"><h6>Read more...</h6></div>

{% macro commentBlock(comment, level) %}
    <div class="panel panel-{% if level == 1 %}success{% elseif level == 2 %}info comment-reply{% elseif level > 2 %}warning{% endif %}">
        <div class="panel-heading">
            {{ comment.name }} <small class="">{{ comment.created_date|date('F j, Y') }}</small>
            {% if level == 2 %}
            <span class="pull-right toggle-comments panel-collapsed"><i class="glyphicon glyphicon-plus"></i></span>
            {% endif %}
        </div>
        <div class="panel-body comment-body" {% if level == 2 %}style="display:none;"{% endif %}>
            <div>{{ comment.comment|nl2br }}</div>
            <a href="#" class="comment-reply-link btn btn-info btn-xs" data-id="{{ comment.id }}">Reply</a>
            {% if comment.replies %}
                {% for replies in comment.replies %}

                    {{ _self.commentBlock(replies, level + 1) }}

                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}
