{% extends 'layout.html' %}

      {% block body %}
        {% for p in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">
              <a href="{{ pathFor('viewPost', {'url': p.url}) }}">{{ p.title }}</a>
              {% if postCommentCount(p.id) %}
                <span class="badge">{{ postCommentCount(p.id) }} Comment{% if postCommentCount(p.id) > 1 %}s{% endif %}</span>
              {% endif %}
            </h2>
            <p class="blog-post-meta">{{ p.published_date|date('F j, Y') }}</p>
            <p>{{ p.content_excerpt }}&hellip;</p>
          </div><!-- /.blog-post -->
        <hr>

        {% else %}
          <h2 class="blog-post-title">No Posts Found</h2>
        {% endfor %}

        {{ pagination() }}

      {% endblock %}