{% extends 'baseLayout.html' %}

{% block body %}

  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-10 offset-lg-1 offset-md-2">
          <h2>Welcome Home!</h2>
          <p>If you are looking for a spacious and comfortable vacation rental in Yachats, Oregon, with fabulous ocean views, and a great 7 mile long beach for walking, Our Sand Castle is just what you're looking for!</p>
          <p>This spectacular beach view property sets back 120 feet from the beach, and has access down a private path to a set of very sturdy stairs.</p>
          <p>This lovely, contemporary home is finely appointed with maple cabinets, granite counter tops, bamboo flooring, area rugs, washer and dryer, a jetted tub in the master bath large enough for two....and much, much more to make your stay enjoyable
            and relaxing. </p>
          <p>Our Sand Castle was designed to maximize the fabulous views by locating the entire guest vacation rental area on the upper floor of this two story dwelling. The downstairs consists of a garage for your use, plus a small apartment and separate
            garage reserved for the owners use only. </p>
          <p>When you step just outside on the 6ft x 35ft deck you'll drink in the sights, savor the refreshing salt air and fresh ocean breezes, and be ready to head to the beach!</p>
        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="sidebar-wrapper">
            <h3 class="">How to Reserve</h3>
            <ol class="">
              <li>Check
                <a href="calendar.html">Calendar</a> for Availability.</li>
              <li>Submit a
                <a href="reserve.html">Reservation Request.</a>
              </li>
              <li>We Will Contact You.</li>
            </ol>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-wrapper">
            <div class="homeaway-img">
              <a href="http://www.homeaway.com/vacation-rental/p117917" rel="nofollow">
                <img src="http://www.homeaway.com/haow/api/image/homeaway_us/trips/117917/reviews" alt="HomeAway Property" rel="nofollow">
              </a>
            </div>
            <div class="homeaway-content">
              <a href="http://www.homeaway.com/vacation-rental/reviews/p117917" rel="nofollow">Read</a> or
              <a href="http://www.homeaway.com/vacation-rental/reviews/write/p117917" rel="nofollow">Write</a> Reviews
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-wrapper">
            <div id="FK_Property_Badge539c83b3924a1">
              <a href="http://www.flipkey.com/">
                <img alt="FlipKey" src="http://www.flipkey.com/img/logos/FlipKey_TA_Color_Logo.svg" />
              </a>
              <script src="http://www.flipkey.com/widgets/badges/property/428568/539c83b3924a1/92570"></script>
            </div>
            <div class="more-amenities">
              <a class="btn btn-outline-success btn-sm mt-2" href="#reviews" role="button">Read Reviews</a>
            </div>
          </div>
        </div>


        <!-- End #resSteps -->
      </div>
    </div>
    </div>
  </section>
  <!-- End Welcome Section -->
  <section id="amenities">
    <div class="container">
      <div class="row">
        <h2>More House Features</h2>
      </div>
      <div class="row pb-3">
        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-header">
              <h3>The House</h3>
            </div>
            <div class="card-block">
              <div class="card-text">
                <ul>
                  <li>
                    Great ocean views!</li>
                  <li>
                    Island counter with breakfast bar and 2 bar stools.</li>
                  <li>
                    Solid wood dining table seats up to 10.</li>
                  <li>
                    TV in bunkbed bedroom</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-header">
              <h3>Comforts of Home</h3>
            </div>
            <div class="card-block">

              <div class="card-text">
                <ul>
                  <li>HE Washer and dryer.</li>
                  <li>Central heat</li>
                  <li>Living room has very comfortable reclinable couches &amp; chairs.</li>
                  <li>2 car garage plus additional outside parking.</li>
                  <li>Ceiling fans in living room, master and both queen bedrooms.</li>
                  <li>Dish television programming</li>
                  <li>50" LCD HDTV in living room.</li>
                  <li>42" HDTV in master bedroom.</li>
                  <li>32" HDTV in green bedroom.</li>
                </ul>

              </div>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-header">
              <h3>We Provide</h3> </div>
            <div class="card-block">

              <div class="card-text">
                <ul>
                  <li>An assortment of games and books are on hand for your entertainment.</li>
                  <li>All linens and initial supply of paper goods provided.</li>
                  <li>Fully-equipped kitchen includes stove, microwave, dishwasher, coffee maker, blender, all dishes, pots &amp; pans, linens, etc.</li>
                  <li>Gas BBQ on deck (but not in winter)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Amenities Section -->
  <section id="reviews">
    <div class="container">
      <div class="row">
        <h2>Reviews</h2>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <!-- This is the Flipkey Ad -->
          <div id="FK_Review_Widget539c87b74d429">
            <a href="http://www.flipkey.com/">
              <img alt="FlipKey" src="http://www.flipkey.com//img/logos/FlipKey_TA_Color_Logo.svg" />
            </a>
            <script src="http://www.flipkey.com//widgets/reviews/index/428568/539c87b74d429/92572"></script>

          </div>
        </div>
        <!-- End .col-md-8 offset-md-2 -->
      </div>
      <!-- End review .content .row -->
    </div>
    <!-- End .container -->

  </section>
  <!-- End Reviews Section -->

{% endblock %}