{% extends '@admin/showReviews.html' %} 

{% block body %} 

{% for review in reviews %} 



{% if review.approved == 'Y' %}

<div class="card mb-3">
    <div class="card-header {% if review.approved == 'N' %}bg-danger{% endif %}">
        <h3 class="card-title">{{ review.title }}</h3>
        {% include '_showRating.html' %} {% if review.email %}Email:
        <a href="mailto:{{ review.email }}" title="Email guest">{{ review.email }}</a>{% endif %} {% if review.who %}Display name:
        <strong>{{ review.who }}</strong>{% endif %} Submitted:
        <strong>{{ review.created_date|date("m/d/Y") }}</strong>
        {% if review.approved == 'N' %}
        <strong>Not Approved</strong>{% endif %}
    </div>
    <div class="card-body">

        <div class="card-text">
            {{ review.content_html|raw }}
        </div>
    </div>
    <div class="card-footer text-muted">
        <a href="{{ pathFor('editReview', {'id': review.id}) }}">Edit</a> |
        <a href="{{ pathFor('deleteReview', {'id': review.id}) }}" class="deleteButton">
            <span class="text-danger">Delete</span>
        </a>
        {% if review.approved == 'N' %}|
        <a href="{{ pathFor('approveReview', {'id': review.id}) }}" title="Approve review">Approve</a>{% endif %}
    </div>
</div>
{% endif %}{% else %}
<h4>No Approved reviews found</h4>







{% endfor %} 

{% endblock %}