<h2>Managing the Content</h2>

<p>When you need to change content on the website, click on the  Manage Content link in the top navigation. 
    
    You will be directed to a page that has Home page and the Rates and Policies links. You will see the Markdown code being used in the bulleted lists and the headline titles of the section. Keep this code in place to maintain consistency throughout the site.</p>
<p>To change content, click on Manage Content and then the link to the page you are changing. By default the Manage Content takes you to the Home Page content section. To change the Rates &amp; Policies content, click the Rates Page tab. The page is broken down by page then section. Find the page you want to edit, and then the section. Click on edit and make your changes. Make sure to click the Save button, or if you want to undo the changes, click on Cancel and you will be return to the Page Content Page.</p>
