<h2>Introduction</h2>
<p>Welcome to OurSandCastle's new and improved layout and design. This help section is to provide you detailed instructions for maintaining your website. </p>

<p>You have the ability to change the homepage verbiage, the rates and policies and manage the reviews. From the Messages tab you have access to any emails that have been sent to from either the Contact Us or Reservation Request forms on the website. You will also receive a copy to your email address, but this is a backup system for.</p>

<p>At this time adding images needs to be added by Moritz Media (Peri &amp; Wolf) because of some technical limitations.  </p>

<p>To access individual help topics, click a link above to be redirected to that section.</p>

<h2>Markdown Editor</h2>
<p>When you edit any of the content, you will notice some interesting (different) characters that are typed before certain entries. This is a simple code called Markdown which when the entry is saved it is converted to HTML without a lot of the extra hidden code that more complex html editors create. This makes it easier to maintain clean html, and causes much less problems going forward.</p>

<p>An example of this is:</p>

<pre>#### Check-in/Check-out</pre>

<p>becomes</p>

<h4>Check-in/Check-out</h4>

<i>The four #'s convert the text after it into an H4 headline, like this</i>

<p>or</p>

<pre># H1 Title</pre>

<p>becomes</p>

<h1>H1 Title</h1>

<p>For items that are part of a bulleted list you will see</p>

<pre>
    * Item 1
    * Item 2
    * Item 3
</pre>

<p>This will display like this:</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

<p>If you are updating anything, just keep any code in place. If adding a new line, just copy of same formate as a similar page. If you have any questions, please feel free to contact us and we'll help you out anyway we can.</p>