<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ setting.user.htmlAdminTitle }}</title>
  <link href="{{ basePath() }}/assets/css/main.css" rel="stylesheet">
  <link href="{{ basePath() }}/assets/css/admin.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet">
  <link rel="icon" href="{{ basePath() }}/favicon.ico">
  <script type="text/javascript">
    var basePath = '{{ basePath() }}',
      adminSegment = '{{ setting.route.adminSegment }}',
      thumbUri = '{{ setting.file.fileThumbUri }}';
  </script>
</head>
<body>
  

  
    <div class="alert alert-{{ flashMessage('alertStatus')|default('info') }} alert-dismissible" role="alert" {% if not flashMessage() %}style="display:none;" {% endif %}>
        <button type="button" class="alert-close close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="alert-message">
          {{ flashMessage('message')|raw }}
        </div>
      </div>
      <!-- /.alert -->
  <!-- Begin Main Content Container -->

  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="#">OurSandCastle<br>Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {% if inUrl( 'dashboard') %} active{% endif %}">
              <a href="{{ pathFor('adminDashboard') }}" class="nav-link ">Manage Content</a>
          </li>
          <li class="nav-item {% if inUrl( 'showreviews') %} active{% endif %}">
              <a href="{{ pathFor('showReviews') }}" class="nav-link ">Manage Reviews</a>
          </li>
          <!-- <li class="nav-item {% if inUrl( 'editreview') %} active{% endif %}">
              <a href="{{ pathFor('editReview') }}" class="nav-link">deprecated</a>
          </li> -->
          <li class="nav-item {% if inUrl( 'showmessages') %} active{% endif %}">
              <a href="{{ pathFor('showMessages') }}" class="nav-link">Messages</a>
          </li>
          <li class="nav-item {% if inUrl( 'help') %} active{% endif %}">
              <a href="{{ pathFor('help') }}" class="nav-link">Help</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="container">
     
        {% block body %}{% endblock %}

  </div>
  





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{{ basePath() }}/assets/admin/script.js"></script>
<script src="{{ basePath() }}/assets/js/rating.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  var simplemde = new SimpleMDE({
    forceSync: true
    ,element: document.getElementById("mde")
  });
</script>
</body>

</html>