<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ setting.user.htmlAdminTitle }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet">
    <link href="{{ basePath() }}/assets/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{{ basePath() }}/favicon.ico">
    <script type="text/javascript">
      var basePath = '{{ basePath() }}',
        adminSegment = '{{ setting.route.adminSegment }}',
        thumbUri = '{{ setting.file.fileThumbUri }}';

    </script>
  </head>

  <body>
    <div class="modal fade" id="reviewModel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: #fff">
          <div class="modal-header">
            <h5 class="modal-title">Request Guest Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="{{ pathFor('saveReview') }}" method="post" accept-charset="utf-8">
            <input type="hidden" name="review_type" value="request">
            <div class="modal-body">
              <div class="form-group">
                  <label for="guestEmail">Email address</label>
                  <input type="email" class="form-control" id="guestEmail" name="email" placeholder="Enter guest email">
              </div>
              <div class="form-group">
                <label for="requestMessage">Message to Guest</label>
                <textarea class="form-control" name="request_message" id="requestMessage" rows="7">
We hope you enjoyed your stay at OurSandCastle, and we would appreciate you leaving us a review.

Sincerely,
Don &amp; Linda Williams
OurSandCastle
                </textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Send</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.modal -->

    <div class="alert alert-{{ flashMessage('alertStatus')|default('info') }} alert-dismissible" role="alert" {% if not flashMessage() %}style="display:none;" {% endif %}>
      <button type="button" class="alert-close close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="alert-message">
        {{ flashMessage('message')|raw }}
      </div>
    </div>
    <!-- /.alert -->

    <div class="container-fluid">
      <h1 class="display-3">OurSandCastle Admin</h1>
      <!-- <div class="row">
        <div class="col-12">
          <a href="{{ pathFor('home') }}" target="_blank" title="View Blog">
            <h1>{{ setting.user.blogTitle }}</h1></a>
        </div>
      </div> -->
      <div class="row mt-3">
        <div class="col-md-3 mt-3">
          <div class="list-group">
            <a href="{{ pathFor('adminDashboard') }}" class="list-group-item list-group-item-action {% if inUrl( 'dashboard') %} active{% endif %}">Page Content</a>
            <a href="{{ pathFor('showReviews') }}" class="list-group-item list-group-item-action {% if inUrl( 'showreviews') %} active{% endif %}">Reviews Page</a>
            <a href="{{ pathFor('editReview') }}" class="list-group-item list-group-item-action {% if inUrl( 'editreview') %} active{% endif %}">Add/Edit Review</a>
            <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#reviewModel">Request Review</button>
            <a href="{{ pathFor('showMessages') }}" class="list-group-item list-group-item-action {% if inUrl( 'showmessages') %} active{% endif %}">Messages</a>
            <a href="{{ pathFor('help') }}" class="list-group-item list-group-item-action {% if inUrl( 'help') %} active{% endif %}">Help</a>
            <a href="{{ pathFor('logout') }}" class="list-group-item list-group-item-action">Logout</a>
          </div>

        </div>
        <div class="col-md-9 mt-3">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ basePath() }}/assets/admin/script.js"></script>
    <script src="{{ basePath() }}/assets/js/rating.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script>
      var simplemde = new SimpleMDE({
        forceSync: true
        ,element: document.getElementById("mde")
      });
    </script>
  </body>

</html>
