{% extends '@admin/showReviews.html' %} 

{% block body %} 

{% for review in reviews if review.approved == 'N' %} 

<div class="card mb-3">
<div class="card-header {% if review.approved == 'N' %}bg-primary text-white{% endif %}">

<strong>Not Approved</strong>

{% include '_showRating.html' %} 
<h3 class="card-title text-danger">{{ review.title }}</h3>

{% if review.email %}
Email:
<a href="mailto:{{ review.email }}" title="Email guest"><span class="text-white"> {{ review.email }}</span></a>{% endif %} {% if review.who %}
<br>
Display name:  <strong>{{ review.who }}</strong>{% endif %} 
<br>
Submitted: <strong>{{ review.created_date|date("m/d/Y") }}</strong>
<br>

</div>
<div class="card-body">

<div class="card-text">
{{ review.content_html|raw }}
</div>
</div>
<div class="card-footer text-muted">
	{% if review.content_html is not empty %}
	<a href="{{ pathFor('editReview', {'id': review.id}) }}">Edit</a> |
	{% endif %}
	<a href="{{ pathFor('deleteReview', {'id': review.id}) }}" class="deleteButton">
		<span class="text-danger">Delete</span>
	</a>
	{% if review.content_html is not empty %}
	| <a href="{{ pathFor('approveReview', {'id': review.id}) }}" title="Approve review">Approve</a>
	{% endif %}
</div>
</div>

{% else %}
<h4>No Reviews to Approve</h4>

{% endfor %} 

{% endblock %}
