<h2>Reviews Help</h2>
<p>There are two section in the Reviews administration.</p>
<p>The Add/Edit Reviews element of the adminstration allows you to both add and edit reviews manually. This function would probably be used in case a client adds a review to TripAdvisor or HomeAway or any other external reservation site you use. </p>
<p>The Request Review feature allows you to send an email to a guest asking them to review their stay at OurSandCastle. The image below is the form you will fill out. All text is editable by you to personalize the message if you want.</p>
<hr>
<img class="img img-thumbnail img-responsive" src="../assets/img/request-reservation.png" alt="">
<hr>
