
    <div class="thumbnail thumb-gallery">
      <form class="image-delete" accept-charset="utf-8" action="{{ pathFor('deleteFile')}}" method="post">
        <input type="hidden" name="filePath" value="{{ i }}">
        <button type="submit" name="delete" class="deleteButton btn btn-danger">Delete</button>
      </form>
    	{% set img, width = imageSize(i), 350 %}
    	{% set height = (width / img.aspect)|round %}
      <img src="{{ basePath() }}/{{ setting.file.fileUri }}{{ i }}">
      <div class="caption">
      	<input type="hidden" class="aspect" name="aspect" value="{{ img.aspect }}">
		<h5>Original Size {{ img.width }} x {{ img.height }}</h5>
		<p><input class="gallery-image-path" value="/{{ setting.file.fileUri }}{{ i }}"></p>

		<h5>Small Size <input class="width dim" value="{{ width }}"> x <input class="height dim" value="{{ height }}"></h5>
    	<p><input class="gallery-image-path thumbUri" value="/{{ setting.file.fileThumbUri }}{{ width }}x{{ height}}/{{ i }}"></p>
      </div>
    </div>
