{% extends '@admin/_layout.html' %}

{% block body %}

{% import _self as this %}

{% if posts %}
<h2>Home Page</h2>
{% for p in posts if 'home' in p.title|lower %}
  {{ this.rowToEdit(p) }}
  <hr>
{% endfor %}

<h2>Rates Page</h2>
{% for p in posts if 'rate' in p.title|lower %}
  {{ this.rowToEdit(p) }}
  <hr>
{% endfor %}


{% else %}
  <h4>No posts found</h4>
{% endif %}

{% endblock %}


{# This is a local HTML function so we do not have to repeat the oursevles #}
{% macro rowToEdit(row) %}
    <div class="card">
      <h4 class="card-header">{{ row.title }}</h4>
      <div class="card-block">
        <!-- <h4 class="card-title">  ID: {{ row.id }}</h4> -->
        <a href="{{ pathFor('editPost', {'id': row.id}) }}" class="btn btn-primary">Edit</a>
      </div>
    </div>
{% endmacro %}
