{% extends '@admin/_layout.html' %} {% block body %} {% import _self as this %} {% if posts %}
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home Page</a>
  </li>
  {#
  <li class="nav-item">
    <a class="nav-link" id="rates-tab" data-toggle="tab" href="#rates" role="tab" aria-controls="rates" aria-selected="false">Rates Page</a>
  </li>
  #}
  <li class="nav-item">
    <a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">Help</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mt-3">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="content-admin">
      {% for p in posts if 'home' in p.title|lower %}

      <div class="content-admin-item">
        {{ this.rowToEdit(p) }}
      </div>
      {% endfor %}
    </div>

  </div>

  {#
  <div class="tab-pane" id="rates" role="tabpanel" aria-labelledby="rates-tab">
    <div class="content-admin">
      {% for p in posts if 'rate' in p.title|lower %}

      <div class="content-admin-item">
        {{ this.rowToEdit(p) }}
      </div>
      {% endfor %}
    </div>

  </div>
  #}

  <div class="tab-pane" id="help" role="tabpanel" aria-labelledby="help-tab">
    {% include 'admin/_content-help.html' %}

  </div>

</div>


{% else %}
<h4>No posts found</h4>
{% endif %} {% endblock %} {# This is a local HTML function so we do not have to repeat the oursevles #} {% macro rowToEdit(row)
%}

<h5 class="content-admin-title">{{ row.title }}</h5>
<p class="content-admin-button">
  <a href="{{ pathFor('editPost', {'id': row.id}) }}" class="btn btn-primary">Edit</a>
</p>

{% endmacro %}