{% extends '@admin/_layout.html' %}

{% block body %}
  <h2>Edit Post {% if post.id %}#{% endif %}{{ post.id }}</h2>
  <form action="{{ pathFor('savePost') }}" method="post" id="save-post" accept-charset="utf-8">
    <input type="hidden" name="id" value="{{ post.id }}">
    <div class="form-group">
      <a href="{{ pathFor('adminDashboard') }}" class="btn btn-default">Cancel</a>
      <button type="submit" class="btn btn-primary" name="button" value="save">Save</button>
    </div>

    <div class="form-group">
      <label>Template</label>
      <select class="form-control" name="template" disabled="disabled">
        {% for t in post.allTemplates %}
        <option {% if t == post.template %}selected{% endif %}>{{ t }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="post-title">Title</label>
      <div class="input-group">
        <input type="text" class="form-control" name="title" maxlength="60" autocomplete="off" value="{{ post.title }}" required readonly="readonly">
      </div>
      <input type="hidden" name="url" value="{{ post.url }}">
      <input type="hidden" name="url_locked" value="{{ post.url_locked|default('N') }}">
    </div>

    <div class="form-group">
      <label for="post-title">Meta Description</label> <i>May appear in search results</i>
      <input type="text" class="form-control" name="meta_description" maxlength="160" autocomplete="off" value="{{ post.meta_description }}" required>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" rows="20" name="content">{{ post.content|raw }}</textarea>
    </div>
  </form>
{% endblock %}
