{% extends '@admin/_layout.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-6">
        <h2>Reviews</h2>
    </div>
</div>

{% for review in reviews %}
<div class="panel panel-success">
    <div class="panel-heading">
        {% include '_showRating.html' %}
        <h3 class="panel-title">{{ review.title }} ({{ review.who }})</h3>
    </div>
    <div class="panel-body">
        <a href="{{ pathFor('editReview', {'id': review.id}) }}">Edit</a>  |
        <a href="{{ pathFor('deleteReview', {'id': review.id}) }}" class="deleteButton"><span class="text-danger">Delete</span></a>
        {{ review.content_html|raw }}
    </div>
</div>
<hr> {% else %}
<h4>No reviews found</h4> {% endfor %}
{% endblock %}