{% extends '@admin/_layout.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-6">
        <h2>Reviews</h2>
    </div>
</div>

{% for review in reviews %}
<div class="card">
    <div class="card-header {% if review.approved == 'N' %}card-inverse card-warning{% endif %}">
        <h3 class="card-title">{{ review.title }}</h3>
        {% include '_showRating.html' %}
        {% if review.email %}Email: <a href="mailto:{{ review.email }}" title="Email guest">{{ review.email }}</a>{% endif %}
        {% if review.who %}Display name: <strong>{{ review.who }}</strong>{% endif %}
        Submitted: <strong>{{ review.created_date|date("m/d/Y") }}</strong>
        {% if review.approved == 'N' %}<strong>Not Approved</strong>{% endif %}
    </div>
    <div class="card-block">
        <a href="{{ pathFor('editReview', {'id': review.id}) }}">Edit</a>  |
        <a href="{{ pathFor('deleteReview', {'id': review.id}) }}" class="deleteButton"><span class="text-danger">Delete</span></a>
        {{ review.content_html|raw }}
    </div>
</div>
<hr> {% else %}
<h4>No reviews found</h4> {% endfor %}
{% endblock %}