/* Footer */
  .content-wrapper {
    flex: 999;
  }
.footer {
  padding: 1rem;
  text-align: center;
  width: 100%;
  background: $blue;
  color: $white;
  flex: 1;
  max-height: 100px;

  p {
    padding: 0;
    margin: 0;
  }
a {
  color: white;
  }
}