/* header */
header {
  background-color: $blue;
  color: $white;
  background-position: center center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-shadow: 2px 2px rgba(0,0,0,.5);
  display: flex;
  flex-flow: column nowrap;
  box-shadow: (box-shadow);
}
header h1 {
  font-weight: 700;
  font-size: 12vw;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
header h2 {
  font-weight: 400;
  font-size: 5vw;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background: transparent;
  border-bottom: none;
}
.welcome-wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  padding: 20px;
}

.amenities-wrapper {
  padding: 1rem 0.5rem;
}

.item-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: center;
  padding: 0.25rem 0.5rem;
}

.item {
  margin: 0.5rem;
}

.more-amenities {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-right: 0.25rem;
  padding-bottom: 2rem;
  padding-left: 0.25rem;
}
.more-amenities .btn {
  margin: 0.25rem;
}



/* Hero Background Images */
 #home-header {
  background-image: url("../img/jumbo1-min.jpg");
}
#calendar-header {
  background-image: url("../img/jumbo2-min.jpg");
}
#lost404-header {
  background-image: url("../img/jumbo3-min.jpg");
}
#reserve-header {
  background-image: url("../img/jumbo3-min.jpg");
}
#reviews-header {
  background-image: url("../img/jumbo5-min.jpg");
}
#gallery-header {
  background-image: url("../img/jumbo6-min.jpg");
}
#contact-header {
  background-image: url("../img/jumbo8-min.jpg");
}
#rates-header {
  background-image: url("../img/jumbo9-min.jpg");
}
#guest-review-header {
  background-image: url("../img/jumbo3-min.jpg");
}