/* Reviews */
  
.review-stars .rating-static {
  margin-top: 5px;
}
.review-stars .rating-static label {
  margin-top: 0;
  margin-bottom: 20px;
}
.rating input[type="radio"] {
  display: none;
}

.rating-active,
.rating-active label {
  cursor: pointer;
}

.rating-static,
.rating-static label,
.rating-static label:hover {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

.rating label {
  font-size: 2rem;
  color: #ddd;
}

.rating label:before {
  content: "\2605";
}

.rating .rating-selected {
  color: gold;
}