/* Home Page Review Widget */

#review
  .carousel-inner
    background-color: rgba($gray, .1)
    +margin(300px null)

    .carousel-item.active
      align-items: center
      justify-content: center


    .carousel-item-wrapper
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center

      +margin(null 2.5rem)
      +padding(.5rem)

      p
        line-height: 180%

.review-stars
  .rating-static
    +margin(5px null null)
    label
      +margin(0 null 20px)
