/* Home Page Review Widget */

#review
  .carousel-inner
    background-color: rgba($gray, .1)
    +margin(30px null)

    .carousel-item-wrapper
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center

      +margin(null 6rem)
      +padding(2rem)

      p
        line-height: 180%

.review-stars
  .rating-static
    +margin(5px null null)
    // display: flex
    // flex-flow: row nowrap
    // align-items: center
    // justify-content: space-between
    label
      +margin(0 null 20px)
