/* Gallery Page */
.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}