#home-header
  background-image: url("../img/osc_viewfrom_deck.jpg")

#ads
  .container
    .row
      .col-md-4
        display: flex
        flex-flow: column nowrap
        align-items: center

        +margin(0.5rem)
