#home-header
  background-image: url("../img/osc_viewfrom_deck.jpg")

#ads
  .container
    .row
      .col-md-4
        display: flex
        flex-flow: column nowrap
        align-items: center

        +margin(0.5rem)

.carousel
  +padding(2.5rem null)
  background: rgba(192,192,192,.5)

.carousel-item-wrapper
  +margin(0.5rem 6rem)

.carousel-inner
  height: 500px
  overflow: hidden
