#home-header
  background-image: url("../img/osc_viewfrom_deck.jpg")

#ads
  .container
    .row
      .col-md-4
        display: flex
        flex-flow: column nowrap
        align-items: center

        +margin(0.5rem)

#review
  .carousel-inner
    max-height: 500px
    background: tomato

    +margin(null null 100px)

    .carousel-item-wrapper
      +margin(0.5rem 6rem)

.review-btn-wrapper
  +margin(40px null 40px)

  display: flex
  justify-content: center
