// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)

  header
    background-attachment: fixed

  .iframe-wrapper
    height: 830px

    +padding(0)

  iframe
    width: 519px
    height: 800px

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px)

  header
    height: 75vh

  #ads
    .container
      .row
        .col-md-4
          +margin(0)

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px)

  .navbar
    +padding(0.5rem)

  .nav-reservation-button
    +padding(0)

  header
    height: 80vh

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
  .container-fluid
    width: 1140px

// IPad 1 & 2 Portrait

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)

  header
    background-attachment: inherit
    height: 100vh

  #ads
    .container
      .row
        .col-md-4
          +margin(0)

// IPad 1 & 2 Landscape

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)

  header
    background-attachment: inherit
    height: 596px

  #ads
    .container
      .row
        .col-md-4
          +margin(0)

// iPhone 6 Plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px)
  .welcome-wrapper
    +margin(1rem null)
  .more-amenities
    +padding(0)
    +margin(0)
  .item-wrapper
    background: transparentize($blue, .5)
    +padding(0)
  .title-wrapper
    background: transparent
    border: none
    h1
      font-size: 3rem

    h5
      font-size: 1.5rem

  header
    height: 100vh

// iPhone 6 Plus Landscape

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape)

  header
    background-attachment: inherit
    height: 100vh
  .more-amenities
    +padding(0)
    +margin(0)

@media only screen and (max-width: 375px)

  .iframe-wrapper
    height: 2250px

  iframe
    height: 2300px
