/* Reviews Page

#reviews-header
  background-image: url("../img/yachats-jumbo-3.jpg")

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    background-attachment: inherit

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
    background-attachment: inherit
