<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block metaDescription %}none{% endblock %}{# {{ metaDescription|default(setting.user.defaultMetaDescription) }} #}">
  <meta name="google-site-verification" content="mIjoxU7xEK9kQA6fpfkLpHd4NCvwLMd0wccREUwzp8k" />
  <title>OurSandCastle - {% block headTitle %}none{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="{{ basePath() }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ basePath() }}/assets/css/lightbox.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

  {% include '_nav.html' %}
  <!-- End Nav Section -->

  <header id="{% block sectionName %}&nbsp;{% endblock %}-header">
    <div class="welcome-wrapper">
      <div class="title-wrapper">
        <h1>OurSandCastle</h1>
        <h2>{% block subTitleWrapper %}none {% endblock %}</h2>
      </div>
    </div>
    {% if inUrl('/') %}
    <div class="amenities-wrapper">
      <div class="item-wrapper">
        <div class="item">
          <i class="fa fa-male fa-2x"></i> 9 People </div>
        <div class="item">
          <i class="fa fa-bed fa-2x"></i> 4 Bedrooms</div>
        <div class="item">
          <i class="fa fa-bath fa-2x"></i> 3 Full Baths </div>
        <div class="item">
          <i class="fa fa-binoculars fa-2x"></i> Ocean Views</div>
        <div class="item">
          <i class="fa fa-wifi fa-2x"></i> Wireless Internet</div>
      </div>

      {% endif %}
      <div class="more-amenities">
        {% if inUrl('/') %}
        <a href="#amenities" class="btn btn-primary btn-lg" role="button" aria-pressed="true">More House Amenities</a> {% endif %}

      </div>
    </div>
  </header>

  <!-- End Header Section -->

  {% block body %} {# All content between the jumbo header and footer, including sidebar, goes here #} {% endblock %}
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4 footer-section">

          <ul class="list-unstyled">
            <li>
              <a href="{{ pathFor('home') }}">Home</a>
            </li>
            <li>
              <a href="{{ pathFor('rates') }}">Rates &amp; Policies</a>
            </li>
            <li>
              <a href="{{ pathFor('calendar') }}">Calendar</a>
            </li>
            <li>
              <a href="{{ pathFor('gallery') }}">Photos</a>
            </li>
            <li>
              <a href="{{ pathFor('contact') }}">Contact Us</a>
            </li>
            <li>
              <a href="{{ pathFor('reserve') }}">Request Reservation</a>
            </li>

          </ul>
        </div>
        <div class="col-md-4 footer-section">
          <p class="footer-item">
            &copy;{{ now|date('Y') }} OurSandCastle
          </p>
        </div>
        <div class="col-md-4 footer-section">

          <p class="footer-item">Design by
            <a href="http://moritzmedia.com">Moritz Media</a>
          </p>

        </div>
      </div>
    </div>



  </footer>
  <!-- End Footer  -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{{ basePath() }}/assets/js/lightbox-plus-jquery.min.js"></script>
  <script src="{{ basePath() }}/assets/js/javascript.js"></script>
  <script src="{{ basePath() }}/assets/js/rating.js"></script>

  {% if setting.production %}
  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
    var sc_project = 11344598;
    var sc_invisible = 1;
    var sc_security = "2d74541d";
    var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" +
      scJsHost +
      "statcounter.com/counter/counter.js'></" + "script>");
  </script>
  <noscript>
    <div class="statcounter">
      <a title="free web stats" href="http://statcounter.com/" target="_blank">
        <img class="statcounter" src="//c.statcounter.com/11344598/0/2d74541d/1/" alt="free
  web stats">
      </a>
    </div>
  </noscript>
  <!-- End of StatCounter Code for Default Guide -->
  {% endif %}
</body>

</html>