<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block metaDescription %}{% endblock %}">
  <meta name="google-site-verification" content="mIjoxU7xEK9kQA6fpfkLpHd4NCvwLMd0wccREUwzp8k" />
  <title>OurSandCastle - {% block headTitle %}{% endblock %}</title>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ basePath() }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ basePath() }}/assets/css/lightbox.min.css">
  {% include '_favicon.html' %}
</head>

<body>
  {% include '_nav.html' %}
  <!-- End Nav Section -->
  {% block body %} {# All content between the jumbo header and footer, including sidebar, goes here #} {% endblock %}
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4 footer-section">

          <ul class="list-unstyled">
            <li>
              <a href="{{ pathFor('home') }}">Home</a>
            </li>
            <li>
              <a href="{{ pathFor('rates') }}">Rates &amp; Policies</a>
            </li>
            <li>
              <a href="{{ pathFor('calendar') }}">Calendar</a>
            </li>
            <li>
              <a href="{{ pathFor('gallery') }}">Photos</a>
            </li>
            <li>
              <a href="{{ pathFor('contact') }}">Contact Us</a>
            </li>
            <li>
              <a href="{{ pathFor('reserve') }}">Request Reservation</a>
            </li>

          </ul>
        </div>
        <div class="col-md-4 footer-section">
          <p class="footer-item">
            &copy;{{ now|date('Y') }} OurSandCastle
          </p>
        </div>
        <div class="col-md-4 footer-section">

          <p class="footer-item">Design by
            <a href="http://moritzmedia.com">Moritz Media</a>
          </p>

        </div>
      </div>
    </div>



  </footer>

  <!-- End Footer  -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{{ basePath() }}/assets/js/lightbox.min.js"></script>
  <script src="{{ basePath() }}/assets/js/javascript.js"></script>
  <script src="{{ basePath() }}/assets/js/rating.js"></script>

  {% if setting.production %}
  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
    var sc_project = 11344598;
    var sc_invisible = 1;
    var sc_security = "2d74541d";
    var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" +
      scJsHost +
      "statcounter.com/counter/counter.js'></" + "script>");
  </script>
  <noscript>
    <div class="statcounter">
      <a title="free web stats" href="http://statcounter.com/" target="_blank">
        <img class="statcounter" src="//c.statcounter.com/11344598/0/2d74541d/1/" alt="free
  web stats">
      </a>
    </div>
  </noscript>
  <!-- End of StatCounter Code for Default Guide -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32809554-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-32809554-1');
  </script>

  {% endif %}
</body>

</html>