{% extends '_baseLayout.html' %}
{% block body %}

<section id="{% block sectionName %}none{% endblock %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">

        {% block main %} {# All left column content goes here #} {% endblock main %}

      </div>
      <!-- Begin Sidebar Layout-->
      <div class="col-lg-3 sidebar-wrapper">
        <div class="sidebar-item">
          <!-- How to reserve -->
          <h3 class="center-block">How to Reserve</h3>
          <ol class="">
            <li>Check
              <a href="{{ pathFor('calendar') }}">Calendar</a> for Availability.</li>
            <li>Submit a
              <a href="{{ pathFor('reserve') }}">Reservation Request.</a>
            </li>
            <li>We Will Contact You.</li>
          </ol>
        </div>
        <div class="sidebar-item mx-auto">

          <!-- Read Reviews Button -->

          <div class="center-block">
            <a class="btn btn-info my-3 py-3 px-3" href="{{ pathFor('reviews') }}" role="button">Read All Reviews</a>
          </div>
        </div>
        <div class="sidebar-item center-block">
          <!-- PayPal Logo -->
          <h6>We accept credit card payment via PayPal</h6>
          <a href="https://paypal.com" target="_blank"><img src="assets/img/paypal-logo.png" alt="PayPal Logo"></a>
          <p class="small-text">Click logo for information about PayPal.</p>
        </div>
      </div>
    </div>
    <!-- End calendar container row -->
  </div>
  <!-- End calendar container -->
</section>

{% endblock %}