{% extends '_sidebarLayout.html' %}

{% block headTitle%}in Yachats, Oregon - Thank You for Contacting Us{% endblock%}
{% block sectionName %}contact{% endblock %}
{% block subTitleWrapper %}Find your days to stay!{% endblock %}

{% block metaDescription %}Thank you for contacting OurSandCastle, in Yachats, Oregon.{% endblock %}

{% block main %}

<div class="block-spacing">

  <h2>Thank you</h2>

  <div class="p lead">Thank you for contacting us at OurSandCastle, a premiere vacation rental in Yachats, Oregon. We will respond to your inquiry very soon!</div>
</div>
{% endblock %}
