{% extends '_sidebarLayout.html' %}

{% block headTitle%}in Yachats, Oregon - Calendar{% endblock%}
{% block sectionName %}calendar{% endblock %}
{% block subTitleWrapper %}Find your days to stay!{% endblock %}


{% block metaDescription %}View our calendar to find your perfect days to stay at OurSandCastle, in Yachats, Oregon. A premiere vacation rental.{% endblock %}


{% block main %}


  <h2>OurSandCastle Availability</h2>

  <div class="iframe-wrapper">
    
    <script
      src='https://www.accommodationcalendar.com/widget/cwidget.php?calendarID=6f6e033dee6d87ee7fe15a2c66ffb3ac6e41d9981fa4dd5c9938ff8f4a2113d4&col=3&row=4&size=2&lang=english&bg=FFFFFF&dfc=000000&border=CCCCCC&hbg=F1F0F0&hfc=000000&abg=DDFFCC&afc=000000&ubg=FFC0BD&ufc=000000&mobileresize=yes'>
    </script>
    </div>
  

{% endblock %}
