{% extends '_sidebarLayout.html' %}

{% block headTitle%}in Yachats, Oregon - Image Gallery{% endblock%}
{% block sectionName %}gallery{% endblock %}
{% block subTitleWrapper %}So relaxing and peaceful!{% endblock %}

{% block metaDescription %}View images of OurSandCastle. See the stunning views and the luxurious 5-star premiere luxury vacation rental in Yachats, Oregon. {% endblock %}

{% block main %}
  <h2>OurSandCastle Image Gallery</h2>
  <p>Click on an image and then use your mouse or keyboard arrows to scroll through the images. Click the 'X' or anywhere outside the image to close the slideshow.</p>

  <div class="row gallery-wrapper">
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-1.jpg" data-lightbox="gallery" data-title="OurSandCastle">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-1.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-2.jpg" data-lightbox="gallery" data-title="The view from the deck">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-2.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-3.jpg" data-lightbox="gallery" data-title="The view from the living room">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-3.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-4.jpg" data-lightbox="gallery" data-title="The view from the kitchen">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-4.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
  
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-6.jpg" data-lightbox="gallery" data-title="The living room">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-6.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-7.jpg" data-lightbox="gallery" data-title="The dining room">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-7.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-8.jpg" data-lightbox="gallery" data-title="The dining room and kitchen">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-8.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-9.jpg" data-lightbox="gallery" data-title="The kitchen">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-9.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-10.jpg" data-lightbox="gallery" data-title="The living room">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-10.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-11.jpg" data-lightbox="gallery" data-title="The master bedroom">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-11.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-12.jpg" data-lightbox="gallery" data-title="The Jacuzzi Bathtub in the Master Bedroom en suite">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-12.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-13.jpg" data-lightbox="gallery" data-title="The master bedroom en suite ">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-13.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-14.jpg" data-lightbox="gallery" data-title="First of two full size bathrooms">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-14.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-15.jpg" data-lightbox="gallery" data-title="Second of two full size bathrooms">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-15.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-16.jpg" data-lightbox="gallery" data-title="Bedroom with queen bed (no television)">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-16.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-17.jpg" data-lightbox="gallery" data-title="Bedroom with queen bed (has a television)">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-17.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-18.jpg" data-lightbox="gallery" data-title="Childrens room with bunkbed">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-18.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-19.jpg" data-lightbox="gallery" data-title="The little details add to the relaxation">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-19.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-20.jpg" data-lightbox="gallery" data-title="Full size washer/dryer">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-20.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-21.jpg" data-lightbox="gallery" data-title="Puzzles, games, and spare towels">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-21.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-22.jpg" data-lightbox="gallery" data-title="Just another spectacular sunset">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-22.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
    <div class="gallery-item">
      <a href="{{ basePath() }}/media/large/osc-23.jpg" data-lightbox="gallery" data-title="OurSandCastle floorplan">
        <img class="img-fluid" src="{{ basePath() }}/media/small/osc-23.jpg" alt="This is a picture of OurSandCastle" />
      </a>
    </div>
  </div>

{% endblock %}
