{% extends '_baseLayout.html' %}

{% block body %}

  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-10 offset-lg-1 offset-md-2">
          <h2>Welcome Home!</h2>

          {{ welcome.content_html|raw }}

        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="sidebar-wrapper">
            <h3 class="">How to Reserve</h3>
            <ol class="">
              <li>Check
                <a href="{{ basePath() }}/calendar">Calendar</a> for Availability.</li>
              <li>Submit a
                <a href="{{ basePath() }}/reserve">Reservation Request.</a>
              </li>
              <li>We Will Contact You.</li>
            </ol>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-wrapper">
            <div class="homeaway-img">
              <a href="http://www.homeaway.com/vacation-rental/p117917" rel="nofollow">
                <img src="http://www.homeaway.com/haow/api/image/homeaway_us/trips/117917/reviews" alt="HomeAway Property" rel="nofollow">
              </a>
            </div>
            <div class="homeaway-content">
              <a href="http://www.homeaway.com/vacation-rental/reviews/p117917" rel="nofollow">Read</a> or
              <a href="http://www.homeaway.com/vacation-rental/reviews/write/p117917" rel="nofollow">Write</a> Reviews
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-wrapper">
            <div id="FK_Property_Badge539c83b3924a1">
              <a href="http://www.flipkey.com/">
                <img alt="FlipKey" src="http://www.flipkey.com/img/logos/FlipKey_TA_Color_Logo.svg" />
              </a>
              <script src="http://www.flipkey.com/widgets/badges/property/428568/539c83b3924a1/92570"></script>
            </div>
            <div class="more-amenities">
              <a class="btn btn-outline-success btn-sm mt-2" href="#reviews" role="button">Read Reviews</a>
            </div>
          </div>
        </div>


        <!-- End #resSteps -->
      </div>
    </div>
    </div>
  </section>
  <!-- End Welcome Section -->
  <section id="amenities">
    <div class="container">
      <div class="row">
        <h2>More House Features</h2>
      </div>
      <div class="row pb-3">
        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-header">
              <h3>The House</h3>
            </div>
            <div class="card-block">
              <div class="card-text">

                {{ house.content_html|raw }}

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-header">
              <h3>Comforts of Home</h3>
            </div>
            <div class="card-block">

              <div class="card-text">

                {{ comfort.content_html|raw }}

              </div>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-header">
              <h3>We Provide</h3> </div>
            <div class="card-block">

              <div class="card-text">

                {{ provide.content_html|raw }}

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Amenities Section -->
  {% if review.id %}
  <section id="reviews">
    <div class="container">
      <div class="row">
        <h2>Reviews</h2>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {{ review.content_html|raw }}
        </div>
        <!-- End .col-md-8 offset-md-2 -->
      </div>
      <!-- End review .content .row -->
    </div>
    <!-- End .container -->

  </section>
  <!-- End Reviews Section -->
  {% endif %}
{% endblock %}