{% extends '_baseLayout.html' %} 
{% block headTitle%}A Premiere Vacation Rental in Yachats, Oregon{% endblock%} 
{% block sectionName1 %}home{% endblock %}

{% block metaDescription%} OurSandCastle, is a spacious and comfortable 5-star premiere luxury vacation rental in Yachats, Oregon.
  Here you will enjoy fabulous ocean views, spectacular sunsets, and shared private access to 7 miles of ocean beach. {% endblock %} 
{% block body %}

<header class="hero-block container">
  <div class="hero-block__title">
    <h1 class="">OurSandCastle</h1>
    <p class="lead">a very special vacation rental in Yachats, Oregon</p>
  </div>
  <div id="oscHomeCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="20000">
        <img src="{{ basePath() }}/assets/img/hero-1.jpg" class="" alt="The House">
      </div>
      <div class="carousel-item" data-interval="20000">
        <img src="{{ basePath() }}/assets/img/hero-2.jpg" class="" alt="Sweeping ocean views from the balcony">
      </div>
      <div class="carousel-item" data-interval="20000">
        <img src="{{ basePath() }}/assets/img/hero-3.jpg" class="" alt="Amazing sunsets.">
      </div>
    </div>

  </div>

  <div class="hero-block__sidebar">
    <div class="item-wrapper">
      <div class="item">
        <i class="fas fa-2x fa-male"></i> <span>9 People</span> </div>
      <div class="item">
        <i class="fas fa-2x fa-bed"></i> <span>4 Bedrooms</span></div>
      <div class="item">
        <i class="fas fa-2x fa-bath"></i> <span>3 Full Baths</span> </div>
      <div class="item">
        <i class="fas fa-2x fa-binoculars"></i> <span>Ocean Views</span></div>
      <div class="item">
        <i class="fas fa-2x fa-wifi"></i> <span>Wireless Internet</span></div>
      <div class="item">
        <i class="fas fa-2x fa-fire"></i> <span>Fireplace</span></div>
    </div>

    <div class="more-amenities mx-auto">
      <a href="#amenities" class="btn btn-primary btn-sm mb-3 " role="button" aria-pressed="true">More
        Amenities</a>
    </div>

  </div>
</header>
<!-- Carousel Hero -->



<header id="home-header">

  </div>


</header>

<!-- End Header Section -->
  <section id="welcome" class="block-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h2>Welcome Home!</h2> {{ welcome.content_html|raw }}
        </div>
        <div class="col-md-3">
          <div class="">
            <h3 class="">How to Reserve</h3>
            <ol class="">
              <li>Check
                <a href="{{ basePath() }}/calendar">Calendar</a> for Availability.</li>
              <li>Submit a
                <a href="{{ basePath() }}/reserve">Reservation Request.</a>
              </li>
              <li>We Will Contact You.</li>
            </ol>
          </div>
          <div class="more-amenities">
            <a class="btn btn-info my-3 py-3 px-3" href="{{ pathFor('reviews') }}" role="button">Read All Reviews</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Welcome Section -->
  <div class="container">
    <div class="card-deck">
      <div class="card bg-light text-center">
        <div class="card-body">
          <h6>We accept credit card payment
            <br>via PayPal</h6>
            <a href="https://paypal.com" target="_blank"><img src="assets/img/paypalmini.png" alt="PayPal Logo"></a>
          <p class="small-text">Click logo for information about PayPal.</p>
        </div>
      </div>
    </div>
  
  </div>

  <section id="amenities" class="block-spacing amenities">
    <div class="container">
      <h2>House Amenities</h2>
  
      <div class="row">
        <div class="col-md-4">
          <h4>The House</h4>
        </div>
        <div class="col-md-8">
          {{ house.content_html|raw }}
        </div>
      </div>
      <!-- End The House -->
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h4>Comforts of Home</h4>
        </div>
        <div class="col-md-8">
          {{ comfort.content_html|raw }}
        </div>
      </div>
      <!-- End Comforts of Home -->
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h4>We Provide</h4>
        </div>
        <div class="col-md-8">
          {{ provide.content_html|raw }}
        </div>
      </div>
      <!-- End The Details -->
    </div>
  
  </section>
  <!-- End Amenities Section -->
  

  <section id="review" class="block-spacing">
  
    <div class="container">
        {% set reviews = getReviews(1) %} {% if reviews %}
      <h2>Latest Review</h2>
      {% for review in reviews %}
      <div class="review-title">
        <h3>{{ review.title }}</h3>
      </div>
      <div class="review-stars">
        {% include '_showRating.html' %}
      </div>
      <div class="review-content">
        {{ review.content_html|raw }}
      </div>
      <div class="review-meta">
        <p>
          <em>{{ review.who }} on {{ review.review_date }}</em>
        </p>
      </div>
  
      {% endfor %}
  
      <div class="review-btn pb-5">
        <a class="btn btn-info" href="{{ pathFor('reviews') }}" role="button">Read All Reviews</a>
      </div>
    </div>
  
  </section>
  
  {% endif %} {% endblock %}