<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OurSandCastle - Admin Login</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/0e492d299f.js"></script>
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/lightbox.css">
  </head>

  <body>


{%  include '_nav.html' %}
<!-- End Nav Section -->

{% block body %}

<div class="container login-wrapper">
  <h2>OurSandCastle<br>Log in</h2>
  <form action="{{ pathFor('sendLoginToken') }}" method="post" accept-charset="utf-8">
    <div class="form-group">
      <label for="post-title">Email</label>
      <input type="email" class="form-control" name="email" maxlength="60" value="" autocomplete="off" autofocus="autofocus" required>
    </div>
    <button type="submit" class="btn btn-primary" name="button" value="requestToken">Request Log in Token</button>
  </form>
</div>
{% endblock %}

<footer class="footer">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4 footer-section">

        <ul class="list-unstyled">
          <li>
            <a href="{{ pathFor('home') }}">Home</a>
          </li>
          <li>
            <a href="{{ pathFor('rates') }}">Rates &amp; Policies</a>
          </li>
          <li>
            <a href="{{ pathFor('calendar') }}">Calendar</a>
          </li>
          <li>
            <a href="{{ pathFor('gallery') }}">Photos</a>
          </li>
          <li>
            <a href="{{ pathFor('contact') }}">Contact Us</a>
          </li>
          <li>
            <a href="{{ pathFor('reserve') }}">Request Reservation</a>
          </li>

        </ul>
      </div>
      <div class="col-md-4 footer-section">
        <p class="footer-item">
          &copy;{{ now|date('Y') }} OurSandCastle
        </p>
      </div>
      <div class="col-md-4 footer-section">

        <p class="footer-item">Design by
          <a href="http://moritzmedia.com">Moritz Media</a>
        </p>

      </div>
    </div>
  </div>



</footer>
<!-- End Footer  -->

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ basePath() }}/assets/js/lightbox-plus-jquery.min.js"></script>
<script src="{{ basePath() }}/assets/js/javascript.js"></script>

<!-- Default Statcounter code for OurSandCastle
https://oursandcastle.com -->
<script type="text/javascript">
var sc_project=12406704;
var sc_invisible=1;
var sc_security="03b5c964";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="web stats"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12406704/0/03b5c964/1/"
alt="web stats"></a></div></noscript>
<!-- End of Statcounter Code -->

</body>

</html>
