{% extends '_sidebarLayout.html' %}

{% block sectionName %}rates{% endblock %}

{% block main %}

          <div class="row">
            <div class="col-md-4">
              <h4>Summer and Holiday* Rates</h4>
            </div>
            <div class="col-md-8">
              <ul>
                <li>June 1 - September 5</li>
                <li>$325 per night; 3 night minimum</li>
                <li>Fourth of July Rate: $375 per night; 3 night minimum</li>
              </ul>
              <p class="footnote">* Holidays (minimum 3 nights) - Memorial Day, Thanksgiving, Christmas, New Years</p>
            </div>
          </div>
          <!-- End Summer Rates -->
          <hr>
          <div class="row">
            <div class="col-md-4">
              <h4>Winter Rates</h4></div>
            <div class="col-md-8">
              <ul>
                <li>Sept 6 - June 1</li>
                <li>$200 per night; 2 night minimum</li>
              </ul>
              <h5>Weekly Winter Rate:</h5>
              <ul>
                <li>$1,200 (RESERVE 6 nights, GET 7th NIGHT FREE)</li>
              </ul>
            </div>
          </div>
          <!-- End Winter Rates -->
          <hr>
          <div class="row">
            <div class="col-md-4">
              <h4>The Details</h4></div>
            <div class="col-md-8">
              <h5>Check-in/Check-out</h5>
              <ul>
                <li>Check-in is at 4:00 p.m. Check-out is 11:00 a.m.</li>
              </ul>
              <h5>Advance Deposit </h5>
              <ul>
                <li>50% of the rental fee is required to secure a reservation. The balance is due 30 days prior to check-in date.</li>
              </ul>
              <h5>Cleaning Fee </h5>
              <ul>
                <li>Non-refundable cleaning fee: $120</li>
              </ul>
              <h5>Damage Deposit</h5>
              <ul>
                <li>$300 refundable damage deposit.</li>
              </ul>
              <h5>Cancellation Policy </h5>
              <ul>
                <li>60 days or more - Full refund of advance deposit minus $25.00 fee.</li>
                <li>30 to 59 days - 80% refund of advance deposit Minus $25.00 fee.</li>
                <li>29 days or less - no refund unless the unit can be re-rented. Re-rental income credited towards refund, minus $25.00 fee.</li>
              </ul>
            </div>
          </div>
          <!-- End The Details -->
          <hr>
          <div class="row">
            <div class="col-md-4">
              <h4>House Policies</h4></div>
            <div class="col-md-8">
              <p class="lead">Thank you for observing our house policies:</p>
              <ul>
                <li>No Pets - if there is evidence of pet(s) found on the premise, your damage deposit will be forfeited and you may be asked to leave.</li>
                <li>No Smoking - if evidence of smoking is found on the premise, your damage deposit will be forfeited and you may be asked to leave.</li>


              </ul>
            </div>
          </div>
          <!-- End House Policies -->

{% endblock %}
