{% extends '_sidebarLayout.html' %}

{% block headTitle%}in Yachats, Oregon - Rates &amp; Policies{% endblock%}
{% block sectionName %}rates{% endblock %}
{% block subTitleWrapper %}Rates &amp; Policies{% endblock %}

{% block metaDescription %}View the current rates and policies of OurSandCastle, in Yachats, Oregon.{% endblock %}

{% block main %}

<div class="block-spacing">
  <h2>OurSandCastle Rates &amp; Policies</h2>
  <div class="row">
    <div class="col-md-4">
      <h4>Summer &amp; Holiday* Rates</h4>
    </div>
    <div class="col-md-8">

      {{ summer.content_html|raw }}

    </div>
  </div>
  <!-- End Summer Rates -->
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Winter Rates</h4></div>
    <div class="col-md-8">

      {{ winter.content_html|raw }}

    </div>
  </div>
  <!-- End Winter Rates -->
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>The Details</h4></div>
    <div class="col-md-8">

      {{ details.content_html|raw }}

    </div>
  </div>
  <!-- End The Details -->
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>House Policies</h4></div>
    <div class="col-md-8">

      {{ policies.content_html|raw }}

    </div>
  </div>
  <!-- End House Policies -->
</div>



{% endblock %}
