{% extends '_sidebarLayout.html' %} {% block headTitle%}in Yachats, Oregon - Reservation Request{% endblock%} {% block sectionName %}reserve{% endblock %} {% block subTitleWrapper %}Find your days to stay!{% endblock %} {% block main %}

<div class="block-spacing">
  <h2>Request Reservation Availability</h2>
  <form action="{{ pathFor('reserveSubmit') }}" method="post" accept-charset="utf-8">
    <div class="row">

      <div class="col-12">
        <label for="last_name">Name <span class="required">*</span></label>
        <input class="form-control" type="text" name="last_name" id="last_name" class="short" value="" required autocomplete="off">
      </div>


      <div class="col-md-6">
        <label for="email">Email <span class="required">*</span></label>
        <input class="form-control" type="text" name="email" id="email" class="medium" value="" placeholder="We'll never share your email with anyone." required autocomplete="off">
      </div>

      <div class="col-md-6">
        <label for="phone_number">Phone Number</label>
        <input class="form-control" type="text" name="phone_number" id="phone_number" class="short" value="" autocomplete="off">
      </div>


      <div class="col-md-6">
        <label for="address1">Address 1</label>
        <input class="form-control" type="text" name="address1" id="address1" class="long" value="" autocomplete="off">
      </div>

      <div class="col-md-6">
        <label for="address2">Address 2</label>
        <input class="form-control" type="text" name="address2" id="address2" class="long" value="" autocomplete="off">
      </div>


      <div class="col-md-4">
        <label for="city">City</label>
        <input class="form-control" type="text" name="city" id="city" class="medium" value="" autocomplete="off">
      </div>

      <div class="col-md-4">
        <label for="state">State</label>
        <input class="form-control" type="text" name="state" id="state" class="short" value="" autocomplete="off">
      </div>

      <div class="col-md-4">
        <label for="postal_code">Postal / Zip Code</label>
        <input class="form-control" type="text" name="postal_code" id="postal_code" class="short" value="" autocomplete="off">
      </div>


      <div class="col-12">
        <label for="country">Country <span class="required">*</span></label>
        <input class="form-control" type="text" name="country" id="country" class="short" value="United States" required autocomplete="off">
      </div>


      <div class="col-md-4">
        <label for="party_count">Number in Party <span class="required">*</span></label>
        <input class="form-control" type="text" name="party_count" id="party_count" class="short" value="" required autocomplete="off">
      </div>

      <div class="col-md-4">
        <label for="arrival_date">Arrival Date <span class="required">*</span></label>
        <input class="form-control" type="date" name="arrival_date" id="arrival_date" class="short datepicker" value="" required autocomplete="off">
      </div>

      <div class="col-md-4">
        <label for="departure_date">Departure Date <span class="required">*</span></label>
        <input class="form-control" type="date" name="departure_date" id="departure_date" class="short datepicker" value="" required autocomplete="off">
      </div>


      <div class="col-12">
        <div class="btn btn-link" data-toggle="modal" data-target=".check-availability">Check Availability</div>
      </div>


      <div class="col-12">
        <label for="message">Message</label>
        <textarea name="message" class="form-control" id="message"></textarea>
      </div>


      <div class="col-md-6">
        <button type="submit" class="btn btn-primary mt-3" value="send request">Send Request</button>
        <button type="reset" class="btn btn-primary mt-3" value="send request">Reset</button>
      </div>

      <div class="col-md-6">


        <input type="text" name="alt_email" class="alt-email" hidden value="">
      </div>


      <div class="col-12">
        <p class="footnote"><span class="required">*</span> Field is required</p>
      </div>

    </div>
  </form>

  <script type="text/javascript">
    document.getElementsByClassName('alt-email')[0].setAttribute('value', 'alt@example.com');

  </script>

</div>
<!-- Large modal -->

<div class="modal fade check-availability" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <iframe margin: 0 src="http://www.homeaway.com/haow/widgets/calendar.html?propertyId=117917&amp;unitId=336188&amp;monthCount=12&amp;orientation=horizontal&amp;site=homeaway_us"></iframe>
      <a href="http://www.homeaway.com/vacation-rental/p117917" class="modal-link" rel="nofollow">HomeAway.com #117917</a>
    </div>
  </div>
</div>
{% endblock %}
